@tailwind base;
@tailwind components;
@tailwind utilities;
nav {
  background-color: aliceblue;
  padding: 16px 32px;
  font-size: xx-large;
}
nav a {
  margin-right: 16px;
}
nav a.active {
  text-decoration: none;
  font-weight: bold;
}
